img {
    cursor: pointer;
}
.center {
    float: none; 
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}


.page-wrapper {
  position: relative;
  min-height: 100vh;
}
.page-content {
  padding-bottom: 2.5rem;    /* Footer height */
}
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.mainBox{
	border: 1px solid gray;
	border-radius: 20px;
	padding: 30px
	
}

.table-hover tr{
	cursor: pointer;
}
.table-hover th{
	cursor: default;
}

.box_question {
    margin-bottom: 35px;
}

.box_question span {
	border: 1px solid black;
	padding: 5px;
    background-color: lightgray;
}

.box_question span.active { 
	background-color: #f5f5f5;
    border: 2px solid black;
}

.box_question span.anwsered{
	background-color: green;
}

.form_question{
	display: none;
}

.form_question li{
	list-style-type: none;
}

.previous, #saveEpreuve{
	display: none;
}