<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/index.jsp</welcome-file>
  </welcome-file-list>
  <display-name>QCM</display-name>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>fr.eni.qcm.api</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <jsp-file>/WEB-INF/views/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>qcm.ihm.controller.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/processLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Homepage</servlet-name>
    <jsp-file>/WEB-INF/views/homepage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisconnectAction</servlet-name>
   <servlet-class>qcm.ihm.controller.DisconnectAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectAction</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminHomepage</servlet-name>
    <jsp-file>/WEB-INF/views/admin/homepage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomepage</servlet-name>
    <url-pattern>/admin/homepage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>showEpreuveAction</servlet-name>
    <servlet-class>qcm.ihm.controller.ShowEpreuveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showEpreuveAction</servlet-name>
    <url-pattern>/showEpreuve</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ProcessEpreuveAction</servlet-name>
     <servlet-class>qcm.ihm.controller.ProcessEpreuveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessEpreuveAction</servlet-name>
    <url-pattern>/processEpreuve</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>showEpreuveJSP</servlet-name>
    <jsp-file>/WEB-INF/views/showEpreuve.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>showEpreuveJSP</servlet-name>
    <url-pattern>/showEpreuveJSP</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EndEpreuveAction</servlet-name>
     <servlet-class>qcm.ihm.controller.EndEpreuveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndEpreuveAction</servlet-name>
    <url-pattern>/endEpreuve</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>endEpreuveJSP</servlet-name>
    <jsp-file>/WEB-INF/views/endEpreuve.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>endEpreuveJSP</servlet-name>
    <url-pattern>/endEpreuveJSP</url-pattern>
  </servlet-mapping>
  
</web-app>